<section id="skills" class="container" [@fadeSlideIn]="inView ? 'in' : 'out'">
  <div class="skillList">
    <app-skill-list [src]="java"></app-skill-list>
    <app-skill-list [src]="c"></app-skill-list>
    <app-skill-list [src]="spring"></app-skill-list>
    <app-skill-list [src]="springR"></app-skill-list>
  </div>
  <hr />
  <div class="skillList">
    <app-skill-list [src]="react"></app-skill-list>
    <app-skill-list [src]="js"></app-skill-list>
    <app-skill-list [src]="angular"></app-skill-list>
    <app-skill-list [src]="typeS"></app-skill-list>
  </div>
  <hr />
  <div class="skillList">
    <app-skill-list [src]="ps"></app-skill-list>
    <app-skill-list [src]="mongo"></app-skill-list>
    <app-skill-list [src]="hy"></app-skill-list>
    <app-skill-list [src]="uni"></app-skill-list>
  </div>
</section>
