<section id="contact" class="container">
    <h1 class="sectiontitle">Contact</h1>
    <div class="cont">
      <form action="https://formspree.io/f/mzzpgbzw" method="POST">
        <div class="formGroup">
          <label for="name" hidden>Name</label>
          <input type="text" name="name" id="name" placeholder="Name" ngModel required />
        </div>
        <div class="formGroup">
          <label for="email" hidden>Email</label>
          <input type="email" name="email" id="email" placeholder="Email" ngModel required />
        </div>
        <div class="formGroup">
          <label for="message" hidden>Message</label>
          <textarea name="message" id="message" placeholder="Message" ngModel required></textarea>
        </div>
        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>
  </section>
  